@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #000000;
    --secondary-color: #007BFF; /* Cool blue color */
    --secondary-color-dark: #0056b3; /* Darker blue for hover */
    --text-dark: #0d1319;
    --text-light: #9ca3af;
    --white: #ffffff;
    --max-width: 1200px;
    --blue: #0000FF;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
  background-color: var(--white);
}
p {
  transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

/* Hover effect for paragraphs */
p:hover {
  transform: scale(1.05); /* Scale up by 5% */
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem; /* Reduce padding to compact the spacing */
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__text {
  flex: 1;
  max-width: 50%;
  padding-top: 1rem; /* Adjust this value to push the text down */
}

.header__image {
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__image img {
  border-radius: 50%; /* Round border */
  width: 400px; /* Slightly larger size */
  height: 400px; /* Ensure it remains circular */
  margin-left: 1rem; /* Space between text and image */
  border: 5px solid var(--white); /* White border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  animation: spin 4s infinite; /* Spinning effect with pause */
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.header__text p:first-of-type {
  font-size: 1.2rem; /* Adjust font size for the "Welcome, I'm" text */
  margin-bottom: 0.25rem; /* Reduce margin to bring it closer to "Ethan Hamilton" */
}

.header__text h1 {
  font-size: 2rem; /* Smaller font size for "Ethan Hamilton" */
  line-height: 2.5rem; /* Adjust line-height to match the new font-size */
  margin-bottom: 0.5rem; /* Reduce margin to bring it closer to the paragraph */
}

.header__text .section__title {
  font-size: 1.5rem; /* Smaller font size for "Future Software Dev." */
  line-height: 2rem; /* Adjust line-height to match the new font-size */
  margin-bottom: 1rem; /* Reduce margin to bring it closer to the paragraph */
}

.header__text p {
  color: var(--text-light);
  max-width: 400px;
  margin: 0.5rem 0; /* Reduce margin to compact paragraph spacing */
}

.action__btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.section__specialtitle {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  overflow: hidden; /* Ensures the text is clipped when animating */
  white-space: nowrap; /* Keeps text in a single line */
  opacity: 0; /* Initial opacity for fade-in effect */
  transform: translateX(-100%); /* Initial position for slide-in effect */
  animation: fadeInSlideIn 2s forwards; /* Apply fade-in and slide-in animations */
  margin-left: -9.4rem;
}

@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section__specialtitle span {
  color: var(--secondary-color);
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  overflow: hidden; /* Ensures the text is clipped when animating */
  white-space: nowrap; /* Keeps text in a single line */
  opacity: 0; /* Initial opacity for fade-in effect */
  transform: translateX(-100%); /* Initial position for slide-in effect */
  animation: fadeInSlideIn 2s forwards; /* Apply fade-in and slide-in animations */
}

@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section__subtitle {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.section__title span {
  color: var(--secondary-color);
}

.section__subtitle {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

img {
  width: 100%;
}

.btn {
  padding: 1rem 2rem; /* Increase horizontal padding for a longer button */
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 25px; /* More rounded corners */
  color: var(--white);
  background-color: #000000; /* Black background */
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 5px #ffffff; /* Initial glow effect */
  margin-left: 7rem; /* Adjust as needed */
}

.btn:hover {
  background-color: #000000; /* Ensure the background remains black */
  box-shadow: 0 0 15px #ffffff; /* Enhanced glow effect on hover */
}

a {
  text-decoration: none;
  color: var(--white);
}

@keyframes pulseGlow {
    0% {
      text-shadow: 0 0 5px #ffffff; /* Initial glow */
      opacity: 1; /* Fully visible */
    }
    50% {
      text-shadow: 0 0 15px #ffffff, 0 0 25px #ffffff, 0 0 35px #ffffff; /* Stronger glow */
      opacity: 0.8; /* Slightly transparent */
    }
    100% {
      text-shadow: 0 0 5px #ffffff; /* Return to initial glow */
      opacity: 1; /* Fully visible */
    }
  }
  :root {
    --primary-color: #000000;
    --secondary-color: #007BFF;
    --secondary-color-dark: #0056b3;
    --text-dark: #0d1319;
    --text-light: #9ca3af;
    --white: #ffffff;
    --max-width: 1200px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* General Reset and Box-Sizing */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background-color: #94D9EA;
    color: #333;
    line-height: 1.6;
  }
  
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 1000;
    border-bottom: 4px solid transparent;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    background-clip: padding-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  nav .nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
  }
  
  nav .nav__logo {
    flex: 1;
  }
  
  nav .nav__logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    text-shadow: 0 0 5px #ffffff;
    animation: pulseGlow 2s infinite;
    margin-left: 2rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
  }
  
  nav ul li {
    display: inline;
    position: relative;
  }
  
  nav ul li a {
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
  }
  
  nav ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  nav ul li a:hover {
    color: var(--secondary-color);
  }

header {
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--white);
}

.header__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header__container p {
  color: var(--text-light);
  max-width: 400px;
  margin: 1rem 0;
}

.header__container p span {
  color: var(--white);
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-right: 1rem;
}

.header__container h1 {
  font-size: 3rem;
  line-height: 3rem;
}

.action__btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.action__btns .video {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.action__btns .video .play {
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  border-radius: 100%;
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.action__btns .video span {
  font-size: 1rem;
  font-weight: 600;
}

.action__btns .video:hover .play {
  background-color: var(--secondary-color-dark);
}

.about,
.project,
.contact {
  padding: 5rem 0;
}
.about {
  background-color: var(--text-dark);
  color: var(--white);
  position: relative; /* Ensure relative positioning for child absolute elements */
}

.about__container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  position: relative;
}

.about__image {
  flex: 1 1 60%; /* Decrease the flex basis to make the image container smaller */
  margin-right: 2rem; /* Space between image and content */
}

/* Image styling */
.about__rectangle-image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: add some rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

/* Content styling */
.about__content {
  flex: 1 1 40%; /* Adjust the content flex basis accordingly */
  max-width: 80%; /* Limit content width */
}

/* Heading styling */
.about__content h2 {
  color: var(--white); /* White color for main heading */
}

/* Subheading styling */
.about__content h3 {
  font-size: 1.5rem; /* Font size for subheadings */
  font-weight: 600; /* Font weight for subheadings */
  margin-top: 2rem; /* Margin top for spacing */
  color: var(--white); /* White color for subheadings */
}

/* Soft skills list styling */
.soft-skills {
  list-style-type: disc; /* Bulleted list */
  margin: 1rem 0; /* Margin for spacing */
  padding-left: 1.5rem; /* Indent list items */
}

.skills {
  background-color: var(--primary-color);
  padding: 50px 0;
  color: var(--white);
}

/* Flexbox layout for the skills grid */
.skills__grid {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* Adjust gap as needed */
  margin-top: 2rem;
}

/* Styling for frontend and backend sections */
.skills__frontend, .skills__backend {
  flex: 1;
  padding: 2rem;
  border-radius: 15px; /* Rounded edges for the whole section */
  border: 2px solid var(--white); /* White outline */
  background-color: transparent; /* Clear fill color */
  position: relative; /* To position the pseudo-element */
}

/* Glowing effect */
.skills__frontend::before, .skills__backend::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 20px;
  border: 2px solid var(--white);
  box-shadow: 0 0 20px var(--white);
  animation: glow 2s infinite;
}

/* Header styling for both sections */
.skills__frontend h3, .skills__backend h3 {
  text-align: center;
  color: var(--white); /* White color for the headers */
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Styling for the skill items container */
.skills__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Individual skill item styling */
.skill__item {
  text-align: center;
  transition: transform 0.3s ease;
  color: var(--white); /* Ensure text is white */
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between icon and text */
  font-size: 1.2rem; /* Adjust as needed */
}

/* Hover effect for skill items */
.skill__item:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

/* Keyframes for glowing effect */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--white);
  }
  50% {
    box-shadow: 0 0 20px var(--white);
  }
  100% {
    box-shadow: 0 0 5px var(--white);
  }
}

/* Icon styling */
.skill__item i {
  font-size: 1.5rem; /* Adjust icon size as needed */
}
.icon-html { color: #e34f26; } /* HTML color */
.icon-css { color: #1572b6; } /* CSS color */
.icon-js { color: #f7df1e; } /* JavaScript color */
.icon-springboot { color: #6db33f; } /* SpringBoot color */
.icon-csharp { color: #0078d7; } /* C# color */
.icon-java { color: #007396; } /* Java color */
.icon-cpp { color: #00599c; } /* C++ color */
.icon-python { color: #306998; } /* Python color */
.icon-database { color: #f29111; } /* Database color */



.project {
  background-color: var(--text-dark);
  color: var(--white);
}

.contact {
  background-color: var(--primary-color);
  color: var(--white);
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__image,
.about__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about__image img {
  max-width: 350px;
}

.about__details {
  padding: 2rem 0;
  text-align: center;
}

.service__grid,
.project__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project__card {
  flex: 1 1 calc(48% - 1rem); /* Adjusts each card to take 48% width minus margin */
  margin-bottom: 1rem; /* Space between rows */
  position: relative;
  overflow: hidden; /* Ensure hover effect stays within bounds */
  cursor: pointer;
}

.project__image {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.project__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project__card:hover .project__image {
  opacity: 0.3;
}

.project__card:hover .project__title {
  opacity: 1;
}

.service__card {
  display: grid;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--text-dark);
  border-radius: 5px;
}

.service__card i {
  font-size: 1.5rem;
}

.service__card h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.service__card p {
  color: var (--text-light);
}

.service__card .read__more {
  width: max-content;
  padding: 0.5rem 1rem;
  color: var(--text-light);
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.project__card {
  display: grid;
  place-content: center;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.project__card img {
  transition: scale 0.3s;
}

.project__card:hover img {
  scale: 1.1;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer__details {
  font-size: 0.8rem;
  color: var(--text-light);
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
}

.social__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social__icons .icon {
  padding: 0.5rem 2rem; /* Increase horizontal padding for length */
  border-radius: 50px; /* Large border-radius for rounded effect */
  color: var(--white); /* Text/icon color */
  background-color: black; /* Background color */
  transition: 0.3s;
  cursor: pointer;
  text-align: center; /* Center text/icon */
  display: flex; /* Flex container for alignment */
  align-items: center; 
  justify-content: center; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

.social__icons .icon:hover {
  background-color: black; 
  box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 0.5); 
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
}

.footer {
  background-color: var(--primary-color); 
  color: var(--white); 
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer p {
  margin: 0;
  font-size: 0.875rem; 
}

.footer__form {
  display: grid;
  gap: 1rem;
}

.footer__form :is(input, textarea) {
  padding: 1rem;
  background-color: var(--text-dark);
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--white);
}

.footer__form textarea {
  resize: none;
  font-family: "Poppins", sans-serif;
}

.footer__form button {
  width: max-content;
}

/* Media queries */

@media (min-width: 640px) {
  .section__title {
    font-size: 2.5rem;
  }

  .header__container p {
    margin: 2rem 0;
  }

  .header__container h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .action__btns {
    gap: 2rem;
  }

  .about__container {
    flex-direction: row;
  }

  .about__content {
    align-items: flex-start;
  }

  .about__details {
    text-align: left;
  }

  .service__grid,
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .header__container h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .service__grid,
  .project__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 2rem; /* Increased padding for better spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  z-index: 1000;
  border-bottom: 4px solid transparent; /* Transparent border for the gradient effect */
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color)); /* Gradient color */
  background-clip: padding-box; /* Ensure gradient only shows under border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a subtle 3D effect */
}

nav .navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  text-shadow: 0 0 5px #ffffff; /* Initial glow */
  animation: pulseGlow 2s infinite; /* Apply the pulsing effect */
  margin-left: 2rem; /* Move the logo more to the right */
}

.navbar-nav {
  display: flex;
  gap: 1.5rem; /* Increased gap for better spacing */
  margin-right: 2rem; /* Move the navigation buttons more to the left */
}

.nav-link {
  padding: 0.75rem 1.5rem; /* Increased padding for better button size */
  background-color: transparent; /* Remove default background */
  color: var(--white);
  font-weight: 600;
  text-decoration: none;
  position: relative; /* For the pseudo-element positioning */
  overflow: hidden; /* Ensure the pseudo-element stays within the button */
  transition: color 0.3s; /* Smooth color transition */
}

.nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; /* Thickness of the underline */
  background-color: var(--secondary-color);
  transform: scaleX(0); /* Hide the underline */
  transform-origin: bottom right;
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.nav-link:hover::before {
  transform: scaleX(1); /* Slide in the underline on hover */
  transform-origin: bottom left;
}

.nav-link:hover {
  color: var(--secondary-color); /* Change text color on hover */
}

@keyframes pulseGlow {
  0% {
      text-shadow: 0 0 5px #ffffff;
  }
  50% {
      text-shadow: 0 0 15px #ffffff;
  }
  100% {
      text-shadow: 0 0 5px #ffffff;
  }
}

@media (max-width: 768px) {
  .skills__grid {
      flex-direction: column;
      align-items: center; /* Center items vertically */
  }
  
  .skills__frontend, .skills__backend {
      width: 100%; /* Full width on small screens */
      margin-bottom: 2rem; /* Add space between sections */
  }
}



/* Responsive styles for smaller devices */
@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr; /* Stack elements in a single column */
    padding: 1rem; /* Adjust padding as needed */
  }

  .footer__content {
    align-items: center; /* Center items vertically */
    text-align: center; /* Center text */
  }

  .footer__details {
    font-size: 0.9rem; /* Slightly larger font size for better readability */
    margin: 1rem 0; /* Adjust margin for spacing */
    display: block; /* Stack details vertically */
  }

  .social__icons {
    flex-wrap: wrap; /* Allow icons to wrap to the next line */
    justify-content: center; /* Center icons horizontally */
    gap: 0.5rem; /* Reduce gap between icons */
  }

  .social__icons .icon {
    padding: 0.5rem; /* Adjust padding for better fit */
    font-size: 1.2rem; /* Adjust icon size for better mobile display */
  }

  .footer__form {
    grid-template-columns: 1fr; /* Stack form elements vertically */
  }

  .footer__form :is(input, textarea) {
    width: 100%; /* Full width for form elements */
    padding: 0.75rem; /* Adjust padding for smaller screens */
  }

  .footer__form button {
    width: 100%; /* Full width for buttons */
    padding: 0.75rem; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 768px) {
  .header__image {
    display: none; /* Hides the header image on mobile devices */
  }
}

@media (max-width: 768px) {
  header {
    height: auto; /* Adjust the height to fit the content */
    padding: 2rem 1rem; /* Add padding for better spacing */
  }

  .header__container {
    flex-direction: column; /* Stack the header text vertically */
    align-items: center; /* Center the content */
    justify-content: center; /* Center content vertically */
  }

  .header__text {
    max-width: 100%; /* Ensure the text container takes full width */
    text-align: center; /* Center-align text on mobile */
  }

  .header__text h1 {
    font-size: 2rem; /* Adjust font size for better readability on mobile */
  }

  .header__text p {
    font-size: 1rem; /* Adjust font size for paragraphs */
    margin: 0.5rem 0; /* Reduce margin for better spacing */
  }


@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .section__specialtitle {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    text-align: center; /* Center the text */
    padding: 0 15px; /* Add some padding on the sides */
    margin: 0 auto; /* Center the element */
    max-width: 100%; /* Ensure the element does not exceed the viewport width */
    box-sizing: border-box; /* Include padding in the element’s total width */
    overflow-wrap: break-word; /* Ensure long words break and wrap onto the next line */
  }

  .section__specialtitle span {
    display: inline; /* Ensure span is inline */
  }
}

@media (max-width: 768px) {
  .about__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about__image, .about__content {
    flex: none;
    margin: 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    .about__image img {
      max-width: 350px; /* Smaller size for mobile screens */
    }
  }

  .about__details {
    padding: 1rem;
  }

  .about__content h2 {
    font-size: 1.5rem;
  }

  .about__content h3 {
    font-size: 1.25rem;
  }
}

.button {
  padding: 2vh 4vw;
}
}
